<!DOCTYPE html>
<html>
	<head>
		<title> Homepage </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body style="background-color:deeppink">
		<h2> Homepage Student Subject Data</h2>
			<form action="student" method="POST">
				<input type="text" name="studentName" placeholder="Enter Students Name"/>
				<button type="submit">Submit</button>
			</form>
			<form action="subject" method="POST">
				<input type="text" name="subjectName" placeholder="Enter Subject Name"/>
				<button type="submit">Submit</button>
			</form>
	</body>
</html>
